.included-bg {
  background-color: white;
}

.included {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.included-includes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 0.68rem;
}

.included-main-img {
  max-width: 40rem;
  border-radius: 2rem;
  object-fit: cover;
}
@media (max-width: 65.625rem) {
  .included {
    flex-direction: column;
  }
  .included img {
    max-width: 100%;
  }
}
