.our-guides-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25.25rem);
  column-gap: 1rem;
  row-gap: 48px;
  justify-content: center;
}
.guide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.guide img {
  border-radius: 2rem;
  max-width: 100%;
}
.guide-certs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.guide-certs div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.guide h3,
.guide-certs,
.guide-about {
  padding: 0 1.5rem;
}
.guide-about {
  max-width: 24.313rem;
}
.guide-tour {
  position: relative;
}
.guide-tour p {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: #687885;
  font-weight: bold;
  padding: 4px 17px;
  border-radius: 60px;
  background-color: white;
}
