.wander {
  background-image: url("../../assets/images/wander-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 40rem) {
  .wander h4 {
    max-width: 21rem;
  }
  .wander a {
    width: 100%;
    display: block;
    text-align: center;
  }
}
