.process-hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.process-container {
  background-color: #e7eced;
}

.booking-process-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}

.process-item {
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
}

.process-item-heading,
.process-item-tip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.process-item-heading h2 {
  font-size: 2rem;
}

@media (max-width: 65.625rem) {
  .process-hero {
    flex-direction: column;
  }
}
@media (max-width: 40rem) {
  .process-hero h1,
  .process-hero p {
    max-width: 20.9rem;
  }
  .process-hero-full {
    width: 100%;
  }
  .process-hero a {
    width: 100%;
    display: block;
    text-align: center;
  }
}
