.our-story {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.our-story div {
  max-width: 43.75rem;
}

@media (max-width: 62.5rem) {
  .our-story {
    gap: 2rem;
    flex-direction: column;
  }
}
@media (max-width: 40rem) {
  .our-story h2 {
    max-width: 20.9rem;
  }
}
