.rooted {
  background-image: url("../../assets/images/rooted-bg.webp.lets-wander-container");
  background-size: cover;
  background-repeat: no-repeat;
}
.rooted h2 {
  max-width: 25.75rem;
}

@media (max-width: 40rem) {
  .rooted h2 {
    max-width: 18.75rem;
  }
}
