.tours-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20.25rem);
  gap: 1rem;
  position: relative;
  justify-content: center;
  border-radius: 2rem;
}

.tours-panel {
  min-height: 28.25rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  gap: 1rem;
  cursor: pointer;
}
.tour-bg {
  background-color: #e7eced;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.tours-panel:hover .nav-white-arrow-tour-panel {
  content: url("../../assets/images/nav-arrow-pink.svg");
}
.nav-white-arrow-tour-panel {
  width: 30px;
}
.tour-panel-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 2rem;
  object-fit: cover;
}
.tours-panel::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 2rem;
  z-index: -1;
}
.tours-panel:hover::after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 1) 100%
  );
}

@media (max-width: 40rem) {
  .tours-panel {
    width: 100%;
  }
  .tours-grid {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .tour-panel-bg {
    width: 100%;
    height: 100%;
  }
  .tour-bg {
    height: 200%;
  }
}
