.navbar-container {
  width: 100%;
  max-width: 70rem;
  padding: 1.25rem 1rem;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 100px;
  position: relative;
}

.navbar_links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-item {
  position: relative;
}
.navbar-popup-container {
  position: absolute;
  top: 2.1rem;
  left: 0;
  padding-top: 4rem;
}
.navbar-popup {
  background: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 17.87rem;
}
.nav-tour-name {
  font-weight: 600;
  color: #343b41;
  margin-bottom: 4px;
}
.tour-grid-item {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.tour-grid-item-img {
  border-radius: 0.5rem;
  position: relative;
}
.tour-grid-item-img img:nth-of-type(1) {
  border-radius: 0.5rem;
}
.tour-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 39rem;
  gap: 1rem;
}
.nav-white-arrow {
  position: absolute;
  bottom: 9.33px;
  right: 9.33px;
  pointer-events: none;
}
.tour-grid-item:hover .nav-white-arrow {
  content: url("../../assets/images/nav-arrow-pink.svg");
}
.navbar-popup .is-dark-text {
  padding: 0.5rem 1rem;
}
.navbar-popup .is-dark-text:hover {
  border-radius: 0.5rem;
  background-color: #f2f4f5;
  font-weight: 600;
}
.nav-link {
  margin: 0.5rem 0;
}
.bold-nav {
  font-weight: 600;
}
.nav-link:hover {
  font-weight: 600;
}
.nav-link-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.nav-link-container img {
  margin-top: 0.1rem;
}
.navbar-hamburger {
  display: none;
}
.navbar-container-mobile {
  display: none;
}
@media (max-width: 40rem) {
  .navbar-hamburger {
    display: block;
    width: 2rem;
  }
  .mobile-hidden {
    display: none;
  }
  .navbar-container-mobile {
    position: fixed;
    background-color: white;
    height: 50dvh;
    width: 80dvw;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-radius: 2rem;
  }
}
