.tour-page-hero-bg {
  background-color: #e7eced;
}
.tour-page-hero {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.tour-page-hero-main-img {
  border-radius: 2rem;
  max-width: 40rem;
  object-fit: cover;
}
.tour-page-hero-text a {
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  justify-self: flex-start;
}
.tour-page-hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  gap: 0.75rem;
  padding: 4rem 0;
}
.tour-page-hero-grid-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.tour-page-hero-grid-item .is-dark-heading {
  font-weight: 700;
}
.tour-page-hero-pill {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 100px;
}
.pill-line {
  background-color: #e7eced;
  height: 2rem;
  width: 2px;
}
.tour-page-hero-pill-item {
  padding: 0.5rem 0;
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.tour-page-hero-pill-item p {
  margin-bottom: 0.5rem;
}
.tour-page-hero-pill-item-left {
  text-align: start;
  padding-left: 5%;
}
.tour-page-guides-bg {
  background-image: url("../../assets/images/tourImages/tour-page-guides.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.tour-page-guides-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 41rem);
  justify-content: center;
  column-gap: 1.5rem;
}
.tour-page-guides-grid-item {
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.tour-page-guides-grid-item img {
  max-width: 12.9rem;
  border-radius: 1rem;
  object-fit: cover;
}
.tour-page-guides-grid-item-text h3 {
  margin-bottom: 0.75rem;
}
.tour-page-guides-grid-item-text > p {
  color: #343b41;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.tour-page-guides-grid-item-pill {
  color: #f571ab !important;
  border: 1px solid #f571ab;
  padding: 4px 1rem;
  border-radius: 56px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  justify-self: flex-start;
}
.tour-page-guides-flex {
  display: flex;
  column-gap: 2rem;
  row-gap: 0.875rem;
  flex-wrap: wrap;
}
.tour-page-guides-flex div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.tour-page-included {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.tour-page-included img {
  max-width: 40rem;
  border-radius: 2rem;
  object-fit: cover;
  max-width: 100%;
}
.tour-page-included-text-included-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.688rem;
}
.tour-page-included-text-included-container img {
  min-width: 2.3rem;
}
.tour-page-grid-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, 27rem);
  gap: 1rem;
  justify-content: center;
  padding-top: 0;
}
.tour-page-grid-images div {
  position: relative;
}
.tour-page-grid-images div img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 2rem;
}
.tour-page-grid-images div h3 {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  font-size: 2rem;
  right: 6rem;
}
.tour-page-grid-images div:nth-of-type(3) {
  grid-row: span 2;
}

.itinerary-bg {
  background-color: #e7eced;
}

.tour-page-itinerary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
}
.tour-page-itinerary h2 {
  position: sticky;
  top: 3rem;
}

.tour-page-itinerary-items-item {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  min-width: 42rem;
}
.tour-page-itinerary-items-item h3 {
  font-size: 2rem;
}
.tour-page-itinerary-items-item div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.tour-page-itinerary-items-item img {
  max-width: 2.5rem;
}
