.footer-container {
  background-color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 4.5rem !important;
  row-gap: 12px;
}
.footer-links-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-links-list p {
  padding-bottom: 1rem;
  font-weight: 900;
}
.footer-wander {
  width: 100%;
  z-index: 1;
  position: relative;
}
.footer-cc {
  background-color: #343b41;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  margin-top: -4.8rem;
  z-index: 2;
  position: relative;
}
.footer-cc div {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 50rem) {
  .footer {
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
}
@media (max-width: 40rem) {
  .footer-links {
    align-items: center;
    row-gap: 2.5rem;
    flex-direction: column;
  }
  .footer-links-list {
    gap: 0.75rem;
    text-align: center;
  }
  .footer-links-list p {
    padding-bottom: 4px;
  }
  .footer-cc {
    padding: 1.5rem 1.25rem;
    margin-top: -3rem;
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer-cc div {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer-wander {
  }
}
