.payment-cancellation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.payment-cancellation-includes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 0.68rem;
}

.payment-cancellation-main-img {
  max-width: 40rem;
  border-radius: 2rem;
  object-fit: cover;
}
