.ready-to-wander {
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  max-width: 31.5rem;
}
.ready-to-wander form input {
  padding: 0.8rem 1rem;
  border: 1px solid #9daeb5;
  border-radius: 6.25rem;
  outline: none;
}
.ready-to-wander form button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-self: flex-end;
  position: relative;
}
.ready-to-wander-container {
  background: url("../../assets/images/ready-to-wander-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.ready-to-wander-container .container-large {
  display: flex;
  justify-content: flex-end;
}
.ready-to-wander .label-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 40rem) {
  .ready-to-wander form input {
    width: 100%;
  }
  .ready-to-wander form button {
    width: 100%;
    justify-content: center;
  }
}
