.values h2 {
  margin-bottom: 1rem;
  text-align: center;
}
.values h4 {
  text-align: center;
}

.values-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 18rem);
}

.values-grid-item {
  background-color: #f8fafa;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
}
