.values h2 {
  margin-bottom: 1rem;
  text-align: center;
}
.values h4 {
  text-align: center;
}

.values-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 18rem);
}

.values-grid-item {
  background-color: #f8fafa;
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 40rem) {
  .values h2 {
    margin-bottom: 0;
  }

  .values-grid {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .values-grid-item p {
    max-width: 16.93rem;
    justify-self: center;
  }
}
